body
  padding-top 61px

.navbar .navbar-default
  min-height 75px

.navbar-header a.navbar-brand
  h6
    color #ccc

.navbar-nav
  li
   a
    min-height 75px
    font-size 25px
    line-height 40px

.navbar-form
  margin-top 20px
  .form-group
     margin-left 10px
  button
     margin-left 10px

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #4E5D6C

section.content
  margin-top 30px