extends ../includes/layout

block main-content
    ng-include(src="'/partials/account/navbar-login'")
    section.content
      div(ng-view)

    footer(id="footer")
      ul(class="icons")
          li
           a(href="#" class="icon fa-twitter")
            span(class="label") Twitter
          li
              a(href="#" class="icon fa-facebook")
                  span(class="label") Facebook
          li
              a(href="#" class="icon fa-github")
                  span(class="label") Github
          li
              a(href="#" class="icon fa-google-plus")
                  span(class="label") G+
      ul(class="copyright")
          li &copy; 2015 Gary's Mean International Corp Ltd