//
   Created by Gary on 3/17/2015.

div
  section(id="banner")
    h2 Cof-Ga-Co
    p Coffee, Game, Coding
    ul(class="actions")
        li
            a(href="#" class="button") Learn More
<section id="main" class="container">

<section class="box special features">
<div class="features-row">
<section>
<span class="icon major fa-coffee accent2"></span>
<h3>I drink Coffee</h3>
<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
</section>
<section>
<span class="icon major fa-gamepad accent3"></span>
<h3>I play Games</h3>
<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
</section>
<section>
<span class="icon major fa-code accent4"></span>
<h3>I love Coding</h3>
<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
</section>
</div>
</section>

</section>

