//
   Created by Gary on 3/21/2015.

.container
    .well
        form.form-horizontal(name="signupForm")
            fieldset
              legend New User
              .form-group
                  label.col-md-2.control-label(for="email") Email
                  .col-md-10
                      input.form-control(name="email", type="email", ng-model="signup.email", placeholder="Email", required)
              .form-group
                  label.col-md-2.control-label(for="email") First Name
                  .col-md-10
                      input.form-control(name="firstname", type="text", ng-model="signup.firstName", placeholder="First Name", required)
              .form-group
                  label.col-md-2.control-label(for="email") Last Name
                  .col-md-10
                      input.form-control(name="lastname", type="text", ng-model="signup.lastName", placeholder="Last Name", required)
              .form-group
                  label.col-md-2.control-label(for="email") Password
                  .col-md-10
                      input.form-control(name="password", type="email", ng-model="signup.password", placeholder="Password", required)
              .form-group
                  label.col-md-2.control-label(for="email") Confirm Password
                  .col-md-10
                      input.form-control(name="email", type="email", ng-model="signup.confirmPassword", placeholder="Confirm password", required)
              .form-group
                  .col-md-10.col-md-offset-2
                      .pull-right
                          button.btn.btn-primary(ng-click="signup.signUp()", ng-disabled="signupForm.$invalid") Submit
                          | &nbsp;
                          a.btn.btn-default(href="/") Cancel