//
   Created by Gary on 3/17/2015.

doctype html
html
    head
        title Gary's Mean App
        link(href="/favicon.icon", rel="shortcut icon", type="image/x-icon")
        //link(href="/css/bootstrap.css" rel="stylesheet")
        link(href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet")
        link(href="/vendor/toastr/toastr.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        base(href="/")
        include noscript
    body(ng-app='app' class="landing")
        include currentUser
        block main-content
     include scripts